:root {
  --cor-00: #ffffff;
  --cor-01: #f7f7f7;
  --cor-02: #ededed;
  --cor-03: #dedede;
  --cor-04: #cccccc;
  --cor-05: #b2b2b2;
  --cor-06: #9c9c9c;
  --cor-07: #717171;
  --cor-08: #595959;
  --cor-09: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;

  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;
}
